/* Default styles */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

h1 {
    text-align: center;
}

.table-wrapper {
    overflow-x: auto;
    padding-left: 15px;
    padding-right: 15px;
}

table.center {
    margin: 0 auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ccc;
}

th {
    font-weight: bold;
}

p {
    text-align: center;
}

a {
    color: #4CAF50;
    text-decoration: none;
}

/* Styles for screens up to 600px */
@media (max-width: 600px) {
    .container {
        height: auto;
        overflow-x: auto;
    }

    .table-wrapper {
        padding-left: 0;
        padding-right: 0;
    }

    table {
        font-size: 14px;
    }

    th, td {
        padding: 5px;
        white-space: nowrap;
    }
}

/* Styles for screens up to 768px */
@media (max-width: 768px) {
    h1 {
        font-size: 24px;
    }

    table {
        font-size: 12px;
    }
}

/* Styles for screens up to 992px */
@media (max-width: 992px) {
    h1 {
        font-size: 20px;
    }

    table {
        font-size: 10px;
    }

    th, td {
        padding: 3px;
    }
}

/* Styles for screens up to 1200px */
@media (max-width: 1200px) {
    h1 {
        font-size: 18px;
    }
}
