<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/homestyle.css">
    <style>
        body {
          background-image: url("/static/images/Loan.webp");
          background-size: cover;
          background-repeat: no-repeat;
        }
        </style>
</head>
<body>
    <nav class="navigation-bar">
        <a href="/static/images/logo.jpg">
        <img class="container-fluid" src="/static/images/logo.jpg"></a>
        <div class="navbar-right">
            <a class="ahome" href="" style="font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; ">Home</a>
            <a class="auser" href="/login" style="font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;  ">User</a>
            <a  class="aadmin" href="/adminlogin" style="font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;">Admin</a>
        </div>
    </nav>
    <section>
        <div class="container">
            <h1>Loan Approval Prediction</h1>
            <p>Welcome to our loan approval prediction platform. We utilize advanced algorithms and machine learning techniques to provide accurate loan approval predictions.</p>
            <h2>Loan Details</h2>
            <p>Our platform takes into account various factors such as credit history, income, employment details, and more to determine the likelihood of loan approval.</p>
            <p>With our accurate predictions, borrowers can assess their chances of getting a loan approved and make informed financial decisions.</p>
        </div>
    </section>

    <script src="script.js"></script>
</body>
</html>
